@import './../../styles.scss';

table {
  padding: 0;
  margin: 0;
  width: 100%;
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  padding: 0;
  margin: 0;
}


td {
  padding: 0.2rem;
  margin: 0;
  border: $border-primary;
  border-top: none;
  width: 100%;
}

h1 {
  padding: 0;
  margin: 0;
}

.time {
  width: auto;
}

.timebox {
  width: 100%;
}

.scheduled {
}

table div:first-child tr td {
  border-top: $border-primary;
}

.valid-drop-target {
  background-color: magenta;
}

.invalid-drop-target {
  background-color: gray;
}
