<table>
  <ng-container *ngFor="let timebox of schedule.timeboxes">
    <div>
      <tr>
        <td class="time">
          <h1>{{timebox.from | toTimeSlotTime}}</h1>
        </td>
        <td [ngClass]="{ 'timebox' : true, 'scheduled' : timebox.allocatedScheduable }" [ngStyle]="{'backgroundColor': timebox.allocatedScheduable?.color}">
          <div appDraggable>
            <h1>
              {{timebox.allocatedScheduable?.id}}
            </h1>
          </div>
        </td>
      </tr>
    </div>
  </ng-container>
</table>
